*{
    box-sizing: border-box;
    margin:0px;
}

.cont{
    width: 70%;
    margin:auto;
}
#head div{
    background-color: rgb(251, 127, 255);
    height: 100px;
}

main,#foot{
    margin: 25px 0px;
}

main section{
    margin:25px 0px;
}

main section:nth-child(1) div{
    background-color: rgb(252, 248, 21);
    height: 400px;
}


main section:nth-child(2){
    background-color: rgb(45, 98, 255);
    height: 840px;
}
#main-head div{
    background-color:dodgerblue;
    
}

#main-head div{
    height: 198px;
}


#main-main::after{
    content: "";
    display:table;
    clear:both;
}

#main-main{
    box-sizing: border-box;
}
.lateral,
.central{
    float: left;
    background-color:dodgerblue;
    height: 600px;
}


.lateral{
    width: 18%;
}

.lateral:first-child{
    margin: 1px 1% 0px 0px;
}
.lateral:last-child{
    margin: 1px 0px 0px 1%;
}


.central{
    width:60%;
    margin: 1px 1%;
}

footer div{
    height: 80px;
    background-color: blueviolet;
}